body {
  margin: 0;
}
.header {
  display: block;
  position: sticky;
  top: 0px;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  z-index: 80;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.68);
  backdrop-filter: blur(5px);
  font-weight: bold;
}
.header h1 {
  /* margin-left: 15px; */
  font-size: 18px;
  cursor: pointer;
  width:fit-content;
}
.header p {}
.container {}
.container .intro {}
.container .projects {}
.container .experience {}
.container .award {}
.container .education {}
.container .outtro {}